/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*different elements reused*/
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    padding: 50px;
}

h3 {
    text-align: center;
}

/*style for heading*/
#header {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .left img{
    width: 400px;
    height: 500px;
}

#header .right {
    background-color: white;
    padding: 20px;
    filter: drop-shadow(5px 5px black);
}

#header .right h3 {
    padding: 10px;
}

#header .right .socials {
    padding-top: 150px;
    padding-left: 500px;
}

#header .right .socials img {
    width: 50px;
    height: 50px;

}

/*styles for work section*/
#work .row {
    display: flex;
    justify-content: space-around;
}

#work .row .column {
    width: 30%;
    margin: 10px;
}

#work .row .column .card {
    background: white;
    border: 2px solid #ddd;
    padding: 5px;
    filter: drop-shadow(3px 3px black);
}

#work .card img {
    width: 100%;
    height: 280px;
}

#work .card .details {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#work .card .details img {
    height: 20px;
    width: 20px;
}

/*styles for the contact section*/
#contact {
    display: flex;
    color: white;
    background-color: gray;
    height: 500px;
}

#contact .left img{
    width: 25px;
    height: 25px;
}

#contact .left h3 {
    padding: 30px;
}

#contact .left p {
    padding: 10px;
}

#contact .left p img{
    padding-right: 10px;
}

#contact .left .socials {
    padding: 100px;
}

#contact .left .socials img{
    padding-left: 5px;
}

#contact .right img{
    width: 500px;
    height: 400px;
    padding-left: 100px;
}

/*styles for the footer*/
footer {
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
}